<%- contentFor('title') %>E
<%- contentFor('body') %>


<form method="get" action="/restaurants/<%= record.id %>">
    
    <label for="name">Name</label></br>
    <input type="text" id="name"  name="name" value ="<%= record.name%>"  required></br>
    <label for="address">Address</label></br>
    <input type="text" id="address" name="address" value = "<%= record.address%>"required></br>
    <label for="longtitude">Longtitude</label></br>
    <input type="text" id="longtitude" name="longtitude" value = "<%= record.longtitude%>" required></br>
    <label for="latitude">Latitude</label></br>
    <input type="text" id="latitude" name="latitude" value = "<%= record.latitude%>" required></br>
    <label for="rating">Rating</label></br>
    <input type="text" id="rating" name="rating" value = "<%= record.rating%>" required></br>
    
    <button type="submit">Submit</button>
   
</form>


