<%- contentFor('title') %>E
<%- contentFor('head') %>
<script type="application/javascript" src="/scripts/uploader.js"></script>
<%- contentFor('body') %>


<form method="post" action="/restaurants/<%= record.id %>">

 <!-- <script type> 
      const logos = document.getElementById("logo");
      logos.addEventListener("change", function(){
        if (logos.value) {
    customTxt.innerHTML = logos.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  } else {
    customTxt.innerHTML = "No file chosen, yet.";
  }
});
</script>  -->

    <label for="name">Logo</label></br>
    <input type="file" id="logo" accept="image/png, image/jpg" value ="<%= record.logo%>" data-name="logo" required></br>
    <label for="name">Name</label></br>
    <input type="text" id="name" value ="<%= record.name%>" required></br>
    <label for="address">Address</label></br>
    <input type="text" id="address" name="address" value = "<%= record.address%>"required></br>
    <label for="longtitude">Longtitude</label></br>
    <input type="text" id="longtitude" name="longtitude" value = "<%= record.longtitude%>" required></br>
    <label for="latitude">Latitude</label></br>
    <input type="text" id="latitude" name="latitude" value = "<%= record.latitude%>" required></br>
    <!-- <label for="rating">Rating</label></br>
    <input type="text" id="rating" name="rating" value = "<%= record.rating%>" required></br> -->
    <div class= "ratings"> 
    <h8>Rating: 
      <input type="radio" name="rating" id="star1" value="1"><label for="star1" ></label>
      <input type="radio" name="rating" id="star2" value="2"><label for="star2" ></label>
      <input type="radio" name="rating" id="star3" value="3"><label for="star3" ></label>
      <input type="radio" name="rating" id="star4" value="4"><label for="star4" ></label>
      <input type="radio" name="rating" id="star5" value="5"><label for="star5" ></label>
   </h8> 
</div><br>
    <button type="submit">Submit</button>
    <button type="submit">Delete</button>
</form>



            



















<!-- <form method="post" action="/restaurants">
    <label for="name">Name</label></br>
    <input type="text" id="name" value= "<%= record.name %>" name= "name" required></br>
    <label for="address">Address</label></br>
    <input type="text" id="address" value="<%= record.address %>" name= "address" required></br>
    <label for="longtitude">Longtitude</label></br>
    <input type="text" id="longtitude" value="<%= record.longtitude %>" name= "longtitude" required></br>
    <label for="latitude">Latitude</label></br>
    <input type="text" id="latitude" value = "<% record.latitude %>" name= "latitude" required></br>
    <label for="rating">Rating</label></br>
    <input type="text" id="rating" value = "<% record.rating %>" name="rating"></br>
    
    <button type="submit">Submit</button>
</form> -->