<%- contentFor('title') %>EcoFoodie
<%- contentFor('body') %>


<center><h1 class="restuarant_landing_title">EcoFoodie </h1></center>

<a class = "addrestaurants"href="/restaurants/new/" style="text-decoration: none;">Add New Restaurants </a><br>
<h5 class="ecorestaurants_nearme" align="middle">EcoFoodie restaurants near me </h5>

<% for(let record of records) { %>  

<div class= "box">
  <div class="d-block p-2"></div>
  <div class="mousepointer"></div> 
  <img class="restaurants_logo" src="<%= record.logo %>" alt="" align = "middle" hspace="12">
  <span class =" boldtext"><%= record.name %> </span>
  <div class = "address" align= "middle" hspace="-100%" ><%= record.address %></div>
  <div class = "address" align= "middle" hspace="-100%" ><%= record.rating  %></div>
  <div class= "ratings">
    <!-- <h8>Rating: 
      <input type="radio" name="star" id="star1" value="1"><label for="star1" ></label>
      <input type="radio" name="star" id="star2" value="2"><label for="star2" ></label>
      <input type="radio" name="star" id="star3" value="3"><label for="star3" ></label>
      <input type="radio" name="star" id="star4" value="4"><label for="star4" ></label>
      <input type="radio" name="star" id="star5" value="5"><label for="star5" ></label>
   </h8>   -->
  </div> 
  <div class="edit_restaurants"> <a href="/restaurants/<%= record.id %>">Edit</a></div>
</div>
  
 <% } %>              

        
        

