<%- contentFor('title') %>EcoFoodie
<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="index.css">
<center><h1>EcoFoodie </h1></center>



                <p><a href="/restaurants/new">New Restaurants</a></p>
                <p><a href="/">Back</a></p>


                <table class="table table-dark">
                        <thead>
                          <tr>
                            <th scope="col">Chipotle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Chipotle</th>
                            <th>Address: 80 fortson</th>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">Chipotle</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">Chipotle</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>

        <% for(let record of records) { %>
                <!-- <ul><a class="isDisabled" href="/restaurants/<%= record.id %>"><%= record.name %> </a><br></ul>   -->
                <h5><%= record.name %> </h5>
                <ul><a href="/restaurants/<%= record.id %>">Edit </a></ul>
                <ul><a href="/restaurants/<%= record.id %>">Delete</a></ul> 
        <% } %>
                  


