<%- contentFor('title') %>EcoFoodie
<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="index.css">

<center><h1>EcoFoodie </h1></center>

<a href="/restaurants/new/">Add New Restaurants </a><br>

<% for(let record of records) { %>
<span class="d-block p-2 bg-dark text-white">
 <div class="mousepointer">
  <h4><%= record.name %></h4>
    <p><%= record.address %>
        <br>
           <h8>Rating:</h8>
             <span class="fa fa-star checked"> </span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
        </br>
    </p>
  <ul><a href="/restaurants/<%= record.id %>">Edit </a></ul>
</span> 
<% } %>

<% for(let record of records) { %>
<span class="d-block p-2 bg-dark text-white">
  <h4><%= record.name %></h4>
    <p><%= record.address %>
        <br>
          <h8>Rating:</h8>
              <span class="fa fa-star checked"> </span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
        </br>
     </p>
</span>
<% } %>

<span class="d-block p-2 bg-dark text-white">
  <h4>Chipotle Mexican Grill</h4>
    <p>Address: 50 California St, San Francisco, CA 94111
        <br>
          <h8>Rating:</h8>
             <span class="fa fa-star checked"> </span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
        </br>
    </p>
</span>

<span class="d-block p-2 bg-dark text-white">
  <h4>Chipotle Mexican Grill</h4>
    <p>Address: 121 4th #135, San Francisco, CA 94103
         <br>
           <h8>Rating:</h8>
              <span class="fa fa-star checked"> </span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
        </br>
    </p>
</span>

<span class="d-block p-2 bg-dark text-white">
  <h4>Chipotle Mexican Grill</h4>
    <p>Address: 1523 Sloat Blvd, San Francisco, CA 94132
         <br>
            <h8>Rating:</h8>
               <span class="fa fa-star checked"> </span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span>
        </br>
     </p>
   </div>
</span>


    
  







    

        <!-- <% for(let record of records) { %>
                <!-- <ul><a class="isDisabled" href="/restaurants/<%= record.id %>"><%= record.name %> </a><br></ul>   
                <h5><%= record.name %> </h5>
                <ul><a href="/restaurants/<%= record.id %>">Edit </a></ul>
                <ul><a href="/restaurants/<%= record.id %>">Delete</a></ul> 
        <% } %> -->
                  

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>     
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

