<%- contentFor('title') %>EcoFoodie
<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

<center><h1 class="restuarant_landing_title">EcoFoodie </h1></center>

<a class = "addrestaurants"href="/restaurants/new/">Add New Restaurants </a><br>
<h5 class="ecorestaurants_nearme" align="middle">EcoFoodie restaurants near me </h5>


<% for(let record of records) { %> 
<div class= "box">
    <span class="d-block p-2 ">
        <div class="mousepointer">
            <img class="restaurants_logo" src="images/chipotle_logo.jpg" alt="" align = "middle" hspace="12">
            <span class =" boldtext"><%= record.name %> </span>
        <div class = "address" align= "middle" hspace="-100%" ><%= record.address %></div>
 
<div class= "rating"> 
   <br>
     <h8>Rating:
        <span class="fa fa-star checked"> </span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </h8>
  </div>
</div>

<div class="edit_restaurants"> <a href="/restaurants/<%= record.id %>">Edit</a></div>
</div>
 
  
 <% } %>             

        
        

